<div class="mt-4">
    <h3>Đăng Khóa Học</h3>

    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên Khóa Học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô Tả</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Video ID</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Trình Độ</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        
        <button type="submit" class="btn btn-primary">Thêm Khóa Học</button>
    </form>
</div>