<div class="mt-4">
    <form method="POST" action="">
    <div class="form-group">
        <label for="search-input">Từ Khóa</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap Tu Khoa.....">
    </div>

    <div class="form-group">
        <label for="gender-input">Từ Khóa</label>
        <select type="text" name="q" class="form-control" id="gender-input">
            <option value="">-- Chọn Giới Tính --</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Tim Kiem</button>
    </form>
</div>